# Configuracion del socket para la app mobile.
# Cambia estos valores si la IP publica de AWS rota o cuando asignes una Elastic IP.
EXPO_PUBLIC_REALTIME_TRANSPORT=websocket
EXPO_PUBLIC_REALTIME_URL=ws://3.142.78.130:5000
